<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "COMMITS" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>{{"ENTER_NAME" | translate}}</ion-label>
    <ion-input type="text"  [(ngModel)] = "input.data"></ion-input>
  </ion-item>
  <button ion-button block (click)="searchCommits(input)">{{"SEARCH" | translate}}</button>

  <hr>

  <ion-list *ngIf = "allCommits">
    <button ion-item *ngFor="let item of allCommits['items']">
      <h2>{{ item.commit.author.name }}</h2>
      <h4>{{ item.commit.message }}</h4>
      <h6>{{ item.html_url }}</h6>
    </button>
  </ion-list>
</ion-content>
