<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"ISSUES" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>{{"ENTER_NAME" | translate}}</ion-label>
    <ion-input type="text"  [(ngModel)] = "input.data"></ion-input>
  </ion-item>
  <button ion-button block (click)="searchIssues(input)">{{"SEARCH" | translate}}</button>

  <ion-list *ngIf = "allIssues">
    <button ion-item *ngFor="let item of allIssues['items']">
      <h2>{{ item.body }}</h2>
      <h4>{{ item.id }}</h4>
      <h6>{{ item.created_at | date: 'medium' }}</h6>
    </button>
  </ion-list>
</ion-content>
